.row{
    background-image: url('https://th.bing.com/th/id/OIP.UnZxKi4FzrMWwsjFUJXbpQHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-floating{
color: rgba(255, 255, 255, 0.322);
}