<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand"  href="#">
            <img src="https://th.bing.com/th/id/OIP.vuWS-XKIoDQtOiuTCAYiKQHaEs?pid=ImgDet&rs=1" style="border-radius: 50%;" alt="Bootstrap" width="60" height="50">
          </a>
     
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h1 class="text-danger mt-4 fs-1" style="font-weight: bolder; margin-left: 170px;">Showroom Management System</h1>
          </li>
        </ul>
      </div>
    </div>
  </nav>
